.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 4px 16px;
  background-color: var(--color);
}

header h1 {
  font-size: 1.2rem;
  color: #ffffff;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

.workspace {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  overflow-y: hidden;
}

.editor {
  flex: 1;
  border-right: solid 1px #eeeeee;
}

.repl {
  overflow-y: auto;
  flex: 1;
  border-left: solid 1px #eeeeee;
}

.repl-line {
  display: flex;
  padding: 0px 8px;
  line-height: 1.6rem;
}

.repl-line--input {
  font-weight: bolder;
}

.repl-line--input:hover {
  background: #eeeeee;
  cursor: pointer;
}

.repl-line--active-input {
  background: #eeeeee;
  margin-bottom: 64px;
}

.repl-line--log-stderr {
  font-style: italic;
  color: #6d0303;
  background: #ffdcdc;
}

.repl-line--log-return {
  color: #666;
  font-style: italic;
}

.repl-line .repl-line__prompt {
  margin: 0 8px 0 0;
  color: var(--color);
}

.repl-line--log-return .repl-line__prompt {
  font-weight: bolder;
}

.repl-line textarea {
  width: 100%;
  border: 0;
  resize: none;
  outline: none;
  background: none;
  font-size: 1rem;
  padding: 0;
  line-height: inherit;
}

.code-mirror {
  height: 100%;
}

.code-mirror .cm-editor.cm-focused {
  outline: none;
}

.editor {
  position: relative;
}

.editor-menu {
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 8px;
  display: flex;
}

.editor-menu button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 12px;
  margin-left: 8px;
  border-radius: 3px;
  border: 1px solid #000;
}

.editor-menu select {
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 3px;
}
