.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: var(--dark-3);

  --dark-0: #111115;
  --dark-1: #222227;
  --dark-2: #333336;
  --dark-3: #444448;
  --dark-4: #555559;
  --dark-5: #666670;
  --dark-6: #777781;
  --dark-7: #888892;
  --dark-8: #9999a0;
  --dark-9: #aaaaa5;
  --dark--1: #eeeeee;
  --green-0: #0f0;
}

header {
  padding: 4px 16px;
  background-color: var(--dark-2);
  text-align: center;
  font-family: var(--monospace-font);
  text-transform: uppercase;
  color: var(--green-0);
  border-bottom: 5px solid var(--green-0);
}

header h1 {
  font-size: 1.25rem;
  font-weight: bolder;
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

code,
.code {
  font-family: var(--monospace-font);
}

.workspace {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow-y: hidden;
}

.editor {
  flex: 1 400px;
  border-right: solid 5px var(--dark-5);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-x: auto;
}

@media only screen and (max-width: 1000px) {
  .editor {
    border: 0;
    height: 50%;
  }

  .workspace {
    flex-direction: column;
  }

  .repl {
    height: 50%;
  }
}

.repl {
  overflow-y: auto;
  flex: 1 400px;
  background: var(--dark-3);
}

.repl-line {
  display: flex;
  padding: 0px 8px;
  line-height: 1.6rem;
}

.repl-line--input {
  font-weight: bolder;
}

.repl-line--input:hover {
  background: var(--dark-5);
  cursor: pointer;
}

.repl-line--active-input {
  background: var(--dark-5);
  margin-bottom: 64px;
}

.repl-line--active-input ::placeholder {
  color: var(--dark-9);
}

.repl-line--log-stderr {
  font-style: italic;
  color: #690000;
  background: #ffaaaa;
}

.repl-line--log-return {
  color: var(--dark-9);
  font-style: italic;
}

.repl-line .repl-line__prompt {
  margin: 0 8px 0 0;
  color: var(--green-0);
  font-weight: bolder;
}

.repl-line textarea {
  width: 100%;
  border: 0;
  resize: none;
  outline: none;
  background: none;
  font-size: 1rem;
  padding: 0;
  line-height: inherit;
  color: inherit;
}

.code-mirror {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.code-mirror .cm-editor.cm-focused {
  outline: none;
}

.code-mirror .cm-editor .cm-scroller {
  font-family: var(--monospace-font);
}

.code-mirror .cm-editor {
  background: var(--dark-3);
  color: #ffffff;
}

.code-mirror .cm-gutters {
  background: var(--dark-4);
  color: var(--dark-9);
}

.code-mirror .cm-activeLine,
.code-mirror .cm-activeLineGutter {
  background: var(--dark-5);
}

.editor {
  position: relative;
}

.editor-menu {
  padding: 8px;
  display: flex;
}

.editor-menu button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 12px;
  margin-left: 8px;
  color: #fff;
  background: var(--dark-4);
  border: 3px solid var(--dark-5);
  font-family: var(--monospace-font);
  text-transform: uppercase;
  font-weight: bolder;
}

.editor-menu select {
  font-size: 1rem;
  padding: 8px 12px;
  color: #fff;
  background: var(--dark-4);
  border: 3px solid var(--dark-5);
}

.about {
  padding: 0 12px;
  font-size: 0.75rem;
  background: var(--dark-2);
  color: var(--dark--1);
}

.about a {
  color: var(--green-0);
}
