* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

body {
  margin: 0;
  --monospace-font: 'Noto Sans Mono', monospace;
  font-family: var(--monospace-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
